.PWD_Manager--wrapper {
    width: 0;
    height: 0;
    display: block;
}

.PWD_Manager--wrapper .PWD_Manager--hint {
    position: absolute;
    z-index: 65535;
    width: 0;
}

.PWD_Manager--wrapper .PWD_Manager--hint .PWD_Manager--eye {
    position: absolute;
    width: 30px;
    height: 100%;
    right: 100%;
    opacity: 0.2;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" /></svg>');    
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    transition: opacity 250ms;
}

.PWD_Manager--wrapper .PWD_Manager--hint.PWD_Manager--hint-disabled .PWD_Manager--eye {
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z" /></svg>');
}

.PWD_Manager--wrapper .PWD_Manager--hint .PWD_Manager--eye:hover {
    opacity: 0.6;
}

.PWD_Manager--wrapper .PWD_Manager--hint .PWD_Manager--tooltip {
    position: absolute;
    bottom: calc(100% + 3px);
    right: 0;
    width: 200px;
    border-radius: 5px;
    background-color: #FDFDFD;
    box-shadow: 0 2px 3px #77777766;
}

.PWD_Manager--wrapper .PWD_Manager--hint.PWD_Manager--hint-hidden .PWD_Manager--tooltip,
.PWD_Manager--wrapper .PWD_Manager--hint.PWD_Manager--hint-disabled .PWD_Manager--tooltip {
    display: none;
}

.PWD_Manager--wrapper .PWD_Manager--hint .PWD_Manager--tooltip::before {
    content: '';
    display: block;
    min-width: 5px;
    max-width: 100%;
    height: 5px;
    border-radius: 5px 0 0 0;
    transition: background-color 200ms, width 200ms;
}

.PWD_Manager--wrapper .PWD_Manager--hint .PWD_Manager--tooltip::after {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    color: #333333;
}

.PWD_Manager--wrapper .PWD_Manager--hint[data-pwd-strength="0"] .PWD_Manager--tooltip::after {
    content: "Worst password";
}
.PWD_Manager--wrapper .PWD_Manager--hint[data-pwd-strength="0"] .PWD_Manager--tooltip::before {
    background-color: red;
    width: 0%;
}

.PWD_Manager--wrapper .PWD_Manager--hint[data-pwd-strength="1"] .PWD_Manager--tooltip::after {
    content: "Very weak password";
}
.PWD_Manager--wrapper .PWD_Manager--hint[data-pwd-strength="1"] .PWD_Manager--tooltip::before {
    background-color: orange;
    width: 20%;
}

.PWD_Manager--wrapper .PWD_Manager--hint[data-pwd-strength="2"] .PWD_Manager--tooltip::after {
    content: "Weak password";
}
.PWD_Manager--wrapper .PWD_Manager--hint[data-pwd-strength="2"] .PWD_Manager--tooltip::before {
    background-color: rgb(68, 68, 255);
    width: 40%;
}

.PWD_Manager--wrapper .PWD_Manager--hint[data-pwd-strength="3"] .PWD_Manager--tooltip::after {
    content: "Common password";
}
.PWD_Manager--wrapper .PWD_Manager--hint[data-pwd-strength="3"] .PWD_Manager--tooltip::before {
    background-color: rgb(0, 128, 255);
    width: 60%;
}

.PWD_Manager--wrapper .PWD_Manager--hint[data-pwd-strength="4"] .PWD_Manager--tooltip::after {
    content: "Strong password";
}
.PWD_Manager--wrapper .PWD_Manager--hint[data-pwd-strength="4"] .PWD_Manager--tooltip::before {
    background-color: green;
    width: 80%;
}

.PWD_Manager--wrapper .PWD_Manager--hint[data-pwd-strength="5"] .PWD_Manager--tooltip::after {
    content: "Very strong password";
}
.PWD_Manager--wrapper .PWD_Manager--hint[data-pwd-strength="5"] .PWD_Manager--tooltip::before {
    background-color: rgb(0, 255, 0);
    width: 100%;
    border-radius: 5px 5px 0 0;
}
