* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 400px;
    color: #333;
    background-color: #f9f9fc;
    font-size: 14px;
}

header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
}

.app-name {
    font-size: 32px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.logo {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    max-width: 50%;
}

.symbol {
    font-size: 14px;
    font-weight: 900;
    padding: 1px 6px;
    background-color: #dee;
    font-family: monospace;
    line-height: 1.7;
    border: 1px solid #bbb;
}

main {
    padding: 0 10px;
}

p {
    text-align: justify;
}

p:nth-child(odd) {
    padding-right: 20px;
    border-right: 2px solid #dadada;
}

p:nth-child(even) {
    padding-left: 20px;
    border-left: 2px solid #dadada;
}

input[type="checkbox"] {
    -webkit-appearance: unset;
    border: 2px solid red;
    background: white;
    position: relative;
    width: 14px;
    height: 14px;
    margin: 5px;
    margin-top: 3px;
    vertical-align: middle;
    outline: none;
}

input[type="checkbox"]::after {
    content: '✓';
    color: red;
    font-size: 20px;
    line-height: 1;
    font-weight: 900;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 100ms;
}

input[type="checkbox"]:checked::after {
    opacity: 1;
}

label {
    line-height: 24px;
}

footer {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.social-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    flex: 1 1 auto;
}

.social-link {
    position: relative;
    margin: 10px;
    padding: 10px;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: transform 200ms;
}

.social-link::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 200ms;
}

.social-link:hover {
    transform: scale(1.1, 1.1);
}

.social-link:hover::after {
    opacity: 1;
}

.social-image {
    width: 64px;
}